mswstep/msdiag.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:diag="http://schemas.microsoft.com/2004/09/ServiceModel/Diagnostics" targetNamespace="http://schemas.microsoft.com/2004/09/ServiceModel/Diagnostics" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:attribute name="CorrelationId" type="xs:string"/>
  <xs:element name="ActivityId" type="diag:ActivityIdType"/>
  <xs:complexType name="ActivityIdType">
    <xs:simpleContent>
	    <xs:extension base="xs:string">
		    <xs:attribute ref="diag:CorrelationId" use="optional"/>
			</xs:extension>
 	  </xs:simpleContent>
  </xs:complexType>
</xs:schema>

