mswstep/ws-trust-1.3.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
        targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
  <wsdl:types>
	  <xs:schema>
	    <xs:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512" schemaLocation="ws-trust-1.3.xsd" />
	  </xs:schema>
  </wsdl:types>

  <wsdl:message name="RequestSecurityTokenMsg">
	  <wsdl:part name="request" element="wst:RequestSecurityToken" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenCollectionMsg">
    <wsdl:part name="request" element="wst:RequestSecurityTokenCollection" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseMsg">
	  <wsdl:part name="response" element="wst:RequestSecurityTokenResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
	  <wsdl:part name="response" element="wst:RequestSecurityTokenResponseCollection"/>
  </wsdl:message>
  
  <wsdl:portType name="SecurityTokenService">
	  <wsdl:operation name="RequestSecurityToken">
	    <wsdl:input message="wst:RequestSecurityTokenMsg"/>
	    <wsdl:output message="wst:RequestSecurityTokenResponseCollectionMsg"/>
	  </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="GetSecurityToken" type="wst:SecurityTokenService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RequestSecurityToken">
      <wsdl:input>
        <soap:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="RequestSecurityTokenService">
    <wsdl:documentation>MS WSTEP Web Service</wsdl:documentation>
    <wsdl:port name="GetSecurityTokenPort" binding="wst:GetSecurityToken">
      <soap:address location="https://pki.creatica.org/mswstep/"/>
    </wsdl:port>
    <wsdl:port name="GetSecurityTokenNonSSLPort" binding="wst:GetSecurityToken">
      <soap:address location="http://pki.creatica.org/mswstep/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

